*{    
  font-family: 'Roboto', sans-serif;
  line-height:1.6;color:#191919;
}
body{
  margin:4rem 2rem;
  background-color:#EDF5E1;border-color: black;
}
div{
  margin:0.5rem auto;
  display:block;
  width:55%;
  padding:1.5rem;
  border:3px solid #1f1f1f;border-color: #000000;
  background-color:#5CD595;
  
}
textarea{
  width:90%;height:20em;margin:1.5rem auto;
  display:block;resize:none;background-color:#EDF5E1;
  padding:0.7rem;border:3px solid #1f1f1f;color:#E42A1D;
  font-weight:bold;line-height:1.6;border-color: #00000;
  letter-spacing:2px;font-family: 'Open Sans', sans-serif;
}
button{
  font-weight:bold;
  padding:0rem 1.2rem;
}
a{
  color:blue;
}
a:visited {
  color:#E42A1D;
}
.pch{
  display:none;
}
strong{
  color:#E42A1D;
}

@media only screen and (max-width: 690px) {
  body{
    width:100%;
    height:100vh;
    padding:0;margin:0;
    background-color:#5CD595;
  }
  div{
    width:100%;padding:0;margin:0;height:100vh;
    border:none;
  }
  h1{
    font-size:1.4rem;
    margin:1.4rem;
    text-align:center;
  }
  h3{
    margin:1.4rem;
  }
  .pch{
  display:block;
}
}