<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <link
    href="http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css"
  />
  <link
    href="http://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css"
  />
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <title>py-me frontend example</title>
</head>

<body>
  <div>
    <br class="pch"><br class="pch"><br class="pch">
    <h1>
      This is a web based example of py-me API</h1>
    <h3>
      <textarea id="codebox" spellcheck="false"># Your python code here :
</textarea>
      <br /><button onclick="buttonclick()" style="float:right;">RUN</button>
    </h3>
    <h3>
      <span id="output"></span>
      <h3>
        Clone my project here : <br><a href="https://glitch.com/~py-me">https://glitch.com/~py-me</a><br>
        <a href="https://github.com/SayadPervez/py-me">https://github.com/SayadPervez/py-me</a><br>
        Py-me Documentation : <wbr><a href="https://github.com/SayadPervez/py-me/blob/main/README.md">Docs</a>
      </h3>
    </h3>

    <h2 align="right" style="padding:2rem 2rem;">
      - Sayad Pervez
    </h2>
  </div>
  <script src="https://py-me.glitch.me/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="./script.js"></script>
</body>
